.register_container input {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

textarea {
    margin-top: 20px;
}

button {
    width: 120px;
    height: 40px;
    border: none;
    background-color: dimgrey;
    color: white;
    margin-top: 20px;
}